body {
	color: white;
}

h1 {
	color: white;
	font-family: impact;
	font-size: 300%;
}

h2 {
	color: white;
}

.nav_bar {
	padding: 0;
	background-color: black;
	font-family: Lucida Sans Unicode;
	text-align: center;
}

.nav_bar a {
	color: #f2f2f2;
	padding: 20px 30px;
	text-align: center;
	text-decoration: none;
}

.nav_bar a:hover {
	background-color: rgb(115, 115, 115);
}

#text {
	color: white;
}

#Section {
	border: 1px solid white;
	margin: 20px;
}

#Profile_Pic {
	margin: 20px;
}

#Name {
	margin: 20px;
}

#overlay {
	margin-left: 200px;
	margin-right: 200px;
}